#logo{
    text-align: center;
    font-size:80px;
    font-family:Arial,sans-serif;
    margin-top:100px;
    margin-bottom:5px;
    
}
form{
    text-align: center;    
}
button{
    background-color:rgba(48, 49, 52);
    color:white;
    padding:10px 15px;
    border-radius:10px;
    margin: 4px;
}
button:hover{
    border:1px solid white;
}

body{
    background-color:rgba(34, 36, 42);
    color:white;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}
input{
    /* background-color: rgb(59, 59, 59); */
    color:white;
    width:500px;
    margin-top:30px;
    border-radius: 40px;
    font-size:20px;
    padding:10px 96px;
    background-color: #4D5156;
    margin:30px;
}
footer{
    background-color:#16171A;
}

main{
    flex:1;
}
a{
    text-decoration: none;
    color:white;
    margin:10px;
}
a:hover{
    text-decoration:underline;
}
hr{
    color:rgba(34, 36, 42)
}
.footer-links{
    display:flex;
    justify-content:space-between;
}